    <div class="card shadow-lg mt-5">
        <div class="card-header text-center">
            <h3>Todolist</h3>
        </div>
        <div class="card-body p-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="enter list here">
                <button class="btn text-success">
                    <i class="fa-solid fa-circle-plus fa-xl"></i>
                </button>
            </div>
            <ul class="list-group">
                <li class="list-group-items">
                    <div>
                        <i class="text-success fa-solid fa-circle-check"></i>
                        {{title}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
